
  .draggable {
    width: 100px;
    height: 100px;
    
    background-color: red;
    border: 0px solid black;
    position: absolute;
  }

  html{background-color:  white;}




.draggable1 {
    width: 100px;
    height: 100px;
  border-radius: 50%;

    background-color: orange;
    border: 0px solid black;
    position: absolute;
  }

